.MultiMessages{
    display: flex;
    flex-direction: column;

}
.MultiMessages>div{
    overflow-y: auto;
    height: 37vh;
}
.MultiMessages_cont li{ 
    list-style: circle;
    font-size: 0.8em;
    padding: 0 5px;
    margin-bottom: 10px;
    width: 95%;
    margin-left: 5%;
    letter-spacing: 1px;
    line-height: 17px;
}
/* set the scroll bar css */

.messages_cont{
    position: relative;
}


.messages_cont>div>div{
    position: relative;
    margin: 9px 0;
}
.newVaracion{
    position: absolute;
    top: 18px;
    right: 15%;
    background-color: transparent;
    border: transparent;
    width: 22px;
    cursor: pointer;
    opacity: 0.4;
}
.newVaracion img{ 
    filter: invert(1);
    transform: rotate(90deg);
    width: 100%;
}
.messages_cont .deleteVariacion{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 5%;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 10px;
    width: 22px;
    opacity: 0.4;
}
.messages_cont>div>div>div{
    margin-left: 10%;
    width: 90%;
}
.messages_cont textarea{
    margin: auto;
    background-color: var(--newPink);
    border: 1px solid var(--newViolet);
    display: block;
    border-radius: 6px;
    padding: 22px 18px;
    font-size: 0.7em;
    padding-right: 19%;
    letter-spacing: 1px;
    color: white;
    resize: none;
    width: 98%;
    outline: none;
    scroll-behavior: smooth;
}
.messages_cont textarea:focus{
   transform: scale(1.02);
}

.messages_cont textarea::-webkit-scrollbar{
    width: 5px;
    border: none;

    padding: 1px;
}
.messages_cont textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #ccbcff!important;
    border: none;
}
.messages_cont textarea::-webkit-scrollbar-track{
    background-color: var(--newPink);
    border: none;
    padding: 1px;
}
.messages_cont textarea::sc



.messages_cont>div:hover .newVaracion, .messages_cont>div>div:hover .deleteVariacion{
    opacity: 0.7;
}
.newVaracion:hover, .deleteVariacion:hover{
    opacity: 1!important;
}
.svgBranch{
    position: absolute;
    width: auto;
    height: 70px;
    right: 85%;
    top: -62%;
    transform: translateY(0);
    z-index: -1;
    user-select: none;
}
.messages_cont>div>div:first-child>div{
    width: 100%!important;
    margin-left: 0!important;
}
.messages_cont>div>div:first-child .svgBranch{ display: none; }

.txtareaContfirst-child::before{

}
.messages_cont textarea::placeholder{
    color: #cccccc;
}

.agregarMultiMensaje {
    background-color: var(--newPink);
    border: 3px solid var(--borders);
    position: absolute;
    display: block;
    margin: auto;
    width: 3.5vw;
    height: 3.5vw!important;
    overflow-y: hidden!important;
    border-radius: 90px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;

}
.agregarMultiMensaje:hover{
    transform: translateX(-50%);
}
.agregarMultiMensaje img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 65%;
    height: 65%;
    user-select: none;
}
.noMoreMsjs{
    opacity: 0.5;
    cursor: not-allowed;
}
.forkIcon {
    filter: invert(1);
    width: 26px;
    transform: rotate(90deg);
    margin-right: 7px;
    margin-bottom: -8px;
}