.MultiMessages{
    display: flex;
    flex-direction: column;

}
.MultiMessages>div:first-child{
    overflow-y: auto;
    height: 48vh;
    padding-bottom: 7vh;
}

.delayBetCont{
    position: relative;
}
.delayBetCont span{
    font-size: 0.9em;
    margin-left: 8px;
    color: #ddd
}

.delayBetCont input{
    width: 5em;
    padding: 2px 8px;
    border: 1px solid var(--newViolet);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;

}
.MultiMessages_cont li{ 
    list-style: circle;
    font-size: 1.1em;
    padding: 0 5px;
    margin-bottom: 3%;
    width: 95%;
    margin-left: 5%;
    line-height: 17px;
}
.MultiMessages_cont>div>ul li>div:last-child{
    display: inline-block;
    margin-left: 11px;
}
.MultiMessages_cont li input{
    width: 5em;
    padding: 2px 8px;
    border: 1px solid var(--newViolet);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    /* font-size: 0.8em; */
    text-align: center;
}
.messages_cont{
    position: relative;
}
.messages_cont>div{
    width: 100%;
}


.messages_cont>div>div{
    position: relative;
}

.addFileBtn{
    /* max-width: 98%; */
    background: transparent;
    opacity: 0.7;
    margin: 1% auto;
    display: block;
    cursor: pointer;
}
.addFileBtn:hover{
    opacity: 1;
}
.addFileBtn>label{
    border: 1px white dashed;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 98%;
    margin: auto;
    cursor: pointer;
    padding: 4px 20px;
    height: 100%;
}
.addFileBtn>label>button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
}
.addFileBtn>label>img{
    margin-right: 5px;
}
.fileName{
    display: flex;
    position: absolute;
    top: 1px;
    left: calc(1px + 1%);
    padding: 5%;
    background: var(--borders);
    width: calc(98% - 2px);
    height: calc(100% - 2px);
    border-radius: 5px;
    align-items: center;

}
.fileName>span{
    margin-left: 5px;
    font-size: 0.9em;
}
.newVaracion{
    transform: rotate(90deg) translateX(-50%);
    right: calc(5% + (25px + 10px) * 3);

}
.newVaracion img{ 
    filter: invert(1);
    width: 100%;
}
.messages_cont .deleteVariacion{
    right: 5%;
}
.messages_cont .attachFileIcon{
    right: calc(5% + (25px + 10px) * 2);

}
.emojiIcon, .fileName p{
    right: calc(5% + (25px + 10px) * 1);
}
.emojiIcon>img{
    width: 16px;
}
.icons, .fileName p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
    text-align: center;
}
.messages_cont>div>div:first-child>div{
    width: 100%!important;
    margin-left: 0!important;
    margin-top: 6%;
}
.messages_cont>div>div>div{
    margin-left: 10%;
    width: 90%;
    position: relative;
    margin-top: 2%;
}

.messages_cont textarea{
    margin: auto;
    background-color: var(--newPink);
    border: 1px solid var(--newViolet);
    display: block;
    border-radius: 6px;
    padding: 22px 18px;
    font-size: 0.85em;
    padding-right: 30%;
    color: white;
    resize: none;
    width: 98%;
    outline: none;
    scroll-behavior: smooth;
    min-height: calc(2.6em + 45px) !important;
    height: calc(1.4em + 45px) !important;

}
.MultiMessages:first-child>div>div>div .txtareaCont:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid var(--newPink);
    transform: rotate(-62deg);
    top: -4%;
    left: 0%;
}
/* Styles specifically for Mozilla Firefox */
@-moz-document url-prefix() {
    .messages_cont textarea{
        height: calc( 1.4em + 45px)!important;
    }
}


.messages_cont textarea:focus{
   transform: scale(1.02);
}

.messages_cont textarea::-webkit-scrollbar{
    width: 5px;
    border: none;

    padding: 1px;
}
.messages_cont textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #ccbcff!important;
    border: none;
}
.messages_cont textarea::-webkit-scrollbar-track{
    background-color: var(--newPink);
    border: none;
    padding: 1px;
}


.icons{
    opacity: 0.7;
}
.icons:hover, .fileName p:hover{
    opacity: 1!important;
}
.svgBranch{
    position: absolute;
    width: auto;
    height: 11vh;
    right: 91%;
    bottom: 43%;
    transform: translateY(0);
    z-index: -1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

.messages_cont>div>div:first-child .svgBranch{ display: none; }

.messages_cont textarea::placeholder{
    color: #cccccc;
}

.agregarMultiMensaje {
    background-color: var(--newPink);
    border: 3px solid var(--borders);
    margin: auto;
    overflow-y: hidden!important;
    border-radius: 90px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
    position: absolute;
    display: block;

    height: 50PX!important;
    width: 0;
    padding-left: 44px;

}


.agregarMultiMensaje:hover{
    transform: translateX(-50%);
}
.agregarMultiMensaje img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 65%;
    height: 65%;
    user-select: none;
}
.noMoreMsjs{
    opacity: 0.5;
    cursor: not-allowed;
}
.forkIcon {
    filter: invert(1);
    width: 26px;
    transform: rotate(90deg);
    margin-right: 7px;
    margin-bottom: -8px;
}
.pickerCont{
    position: absolute;
    z-index: 9;
    width: auto!important;
}

/* if mobile */
@media (max-width: 768px){
    .svgBranch{
        right: 86%;
        height: 11vh;
    }
    .MultiMessages_cont li{ 
        font-size: 0.65em;
    }
    .forkIcon {
        width: 18px;
    }
    .agregarMultiMensaje{
        height: 45px !important;
        width: 0;
        padding-left: 39px;
        bottom: 6.5%;
    }
}