.table_headers{
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);
}
.table_headers h6{
    font-weight: 500;
    color: var(--rosita2);
    text-align: center;
    font-size: 0.75em;
    letter-spacing: 1px;
}

@media (max-width: 749px) {
.table_headers h6{
    font-size: 0.7em;
}
.table_headers{
    margin-bottom: 5%;
}
}