.card{
    border: 2px solid var(--newViolet);
    box-shadow: inset 0px 0px 1px 2px black;
    border-radius: 15px;
    padding: 30px 30px 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    opacity: 0.7;
    transition: .5s;
    background-color: #42298e1a;
    filter: blur(2px);
    backdrop-filter: blur(20px);
}
.card>div{
    opacity: 0;
}
.card.active>div{
    opacity: 1!important;
}

#card2.numberCard1{ transform: translate(-30%, -50%) scale(0.9); }
#card3.numberCard1{ transform: translate(-10%, -50%) scale(0.8); }

#card1.numberCard2{ transform: translate(-70%, -50%) scale(0.9); }
#card3.numberCard2{ transform: translate(-30%, -50%) scale(0.9); }

#card1.numberCard3{ transform: translate(-90%, -50%) scale(0.8); }
#card2.numberCard3{ transform: translate(-70%, -50%) scale(0.9); }

.active{ 
    opacity: 1!important;
    z-index: 3;
    transform: translate(-50%, -50%) scale(1)!important;
    filter: blur(0px)!important;
 }
/* .cards_cont>div.active {
border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
} */
.cards_cont>div.active>div{
    height: 100%;
}
.cards_cont{
    
}

.card_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.tramas{
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}
.tramaBottom{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
.tramaLeft{
    left: -12%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    width: 70%;
}
.tramaRight{
    right: -12%;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    width: 70%;
}

.table_layout{
    height: 100%;
    width: 100%;
    overflow: visible;
    overflow-y: auto;
    margin-bottom: 3%;
    position: relative;
}

.table_layout:after{
    content: '';
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, rgb(37 6 73) 30%, rgb(82 0 148 / 0%));
    display: block;
    position: sticky;
    bottom: 0;
    left: 0;
    display: none;
}
.table_layout::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
    display: none;
}
  
/* Track */
.table_layout::-webkit-scrollbar-track {
    border-radius: 2px;
    background: var(--rosita2);
padding-left: 8px;
}

/* Handle */
.table_layout::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: var(--newViolet);
}

/* Handle on hover */
.table_layout::-webkit-scrollbar-thumb:hover {
background: #555;
}

.table_layout>div>div, .table_layout>div>div>div{
    display: flex;
    width: 100%;
}

.grilla_oficial .celda_table{
    border: 1px solid transparent;
    overflow-x: visible;
 }
.grilla_fondo .celda_table{
    border: 1px solid var(--borders);
    /* border-bottom: none;
    border-left: none; */
}
.celda_table{
    width: 50%;
    overflow: hidden;
}
.celda_table:hover{
    border-color: #3399FF!important;
    box-shadow: inset 0px 0px 15px 1px #0000005c;
}


/* Maniobras para acomodar borders por no usar grilla o table */
.grilla_fondo>div:first-child .celda_table:first-child, .grilla_oficial>div:first-child .celda_table:nth-child(2){
    border-top-left-radius: 10px;
    border-top: 2px solid var(--borders);
}
.grilla_fondo>div:first-child .celda_table:last-child, .grilla_oficial>div:first-child .celda_table:nth-child(3){
    border-top-right-radius: 10px;
    border-top: 2px solid var(--borders);
}

.grilla_fondo>div:last-child .celda_table:first-child, .grilla_oficial>div:last-child .celda_table:nth-child(2){
    border-bottom-left-radius: 10px;
    border-top: 2px solid var(--borders);
}
.grilla_fondo>div:last-child .celda_table:last-child, .grilla_oficial>div:last-child .celda_table:nth-child(3){
    border-bottom-right-radius: 10px;
    border-top: 2px solid var(--borders);
}
.grilla_fondo>div .celda_table:first-child, .grilla_oficial .celda_table:nth-child(2){ border-left-width: 2px; }
.grilla_fondo>div .celda_table:last-child{ border-right-width: 2px; }
.grilla_fondo>div:last-child .celda_table{ border-bottom-width: 2px; }
.grilla_fondo>div:first-child .celda_table{ border-top-width: 2px; }

.grilla_oficial>div:last-child .celda_table{ border-bottom-width: 2px; border-left-width: 2px; }
.grilla_oficial>div:first-child .celda_table{ border-right-width: 2px; border-top-width: 2px;}

.grilla_fondo>div:last-child .celda_table{ border-left-width: 2px; border-bottom-width: 2px; }
.grilla_fondo>div:first-child .celda_table{ border-right-width: 2px; border-top-width: 2px;}



.celda_table textarea{
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
    resize: none;
    /* height: 1.5em; */
    overflow: hidden;
    padding: 8px 2px;
    vertical-align: bottom;
    outline: none;
    white-space: pre;
}


.celda_table textarea:focus{
    background-color: #7665b5;
}
.rowSelected{
    opacity: 1!important;
    position: relative;
}
.rowSelected::after{
    content: url('../../../public/cierto.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}




/* old table */
.row_table{
    position: relative;
    width: 96%;
    margin: auto;
    padding: 0 4%;

}
#card3 .row_table{
    overflow: hidden;
    height: 2em;
}
.grilla_oficial .row_table>div{
    width: 96%;
    margin: auto;
}
.row_table:hover aside, .row_table:hover>div>img{
    opacity: 0.7;
}
.row_table aside:hover, .row_table>div>img:hover{
    opacity: 1;
}
.row_table aside{
    position: absolute;
    width: 3%;
    height: 3%;
    padding: 1.5%;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
    left: 0%;
    opacity: 0;
    border: 1px solid var(--rosita2);
    box-shadow: inset 0px 0px 3px 2px var(--rosita1);
}
.row_table>div>img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.7%;
    width: 6%;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    opacity: 0;
}


.list_counter{
    position: absolute;
    left: 50%;
    top: 15%;
    font-size: 0.8em;
    color: rgb(194, 194, 194);
    transform: translate(-50%, 0px);
    display: none;
}
.grilla_oficial{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: auto;
}

.grilla_fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.grilla_fondo .celda_table{
    background-color: rgba(0, 0, 0, 0.32);
}
.draggedIcon{ cursor: none; }

.dragging{
    width: 89%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    position: absolute;
    background: #00000096;
    border: 1px dashed var(--amarillo);
    border-radius: 10px;
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}
#card3 .card_container>div:nth-child(2){
    height: 80%;
}
.table_rows.enviando_table{
    height: 100%;
    overflow-y: auto;
}
.table_rows::-webkit-scrollbar{
    width: 4px;
    position:absolute;
    background-color: #5d3770;
    height: 4px;
}

.table_rows::-webkit-scrollbar-track{
    background:#291051;
    transition:background .2s
}
.table_rows::-webkit-scrollbar-thumb{
    background:rgba(138, 138, 138, 0.8);
    transition:background .2s;
    border-radius: 4px;
}
.table_rows::-webkit-scrollbar-thumb:hover{
    background:hsla(0,0%,47%,.95)
}

.row_card {
    background-color: rgba(0,0,0,0.3);
    color: rgb(232, 232, 232);
    border-radius: 5px;
    padding: 6px;
    border: 1px solid var(--rosita1);
    margin-bottom: 2.5%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 10px -3px #000000;
}
.row_card>div {
    position: relative;
    z-index: 2;
}
.row_card.success{
    background-color: #5a575e;
    background-image: radial-gradient(#943a144a, #9a5527b8);
    color: white;
    border-color: #d23227;
}
.row_card.error{
    background:linear-gradient( rgba(31, 4, 4, 0.8), rgba(31, 4, 4, 0.8)), url('/textura.jpeg');
    background-position: 50%;
    background-size: cover;
    border-color: #744440!important;
    color: #dcdcdc!important;
}

.row_card span{
    font-size: 0.5em;
    font-weight: 100;
    text-align: center;
    display: block;
}

.row_card span.contact_example{
    color: #c2c2c2;
    opacity: 0.35;
    font-size: 0.6em;
    font-weight: 100;
    text-align: center;
    display: block;
}

.delete_contact{
    font-size: 0.4em;
    position: absolute;
    right: 2%;
    top: 2px;
    transform: translateY(-50%) scale(0.9);
    cursor: pointer;
    opacity: 0;
}
.row_card:hover .delete_contact{
    transform: scale(1);
    opacity: 0.7;
}

.delete_contact:hover{
    opacity: 1!important;
    transform: scale(1.1)!important;
}
.row_card{
    display: flex;
    justify-content: space-between;
    
}

.estado_envio{
    position: absolute!important;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 16px;
}


#card1 .options_cont {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 3%;
    right: 3%;
    width: 94%;
}

.options_cont>form{
    display: block;
    margin: 7% 0 3%;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.options_cont>form input{
    display: block;
    font-size: 0.6em;
    width: 100%;
    margin-right: 3%;
    margin-bottom: 4%;
    padding: 3% 5% 3% 15px;
    border: solid 1px #5d3770;
    border-radius: 5px;
    color: white;
    background: #8651a1;

}

#card1 .options_cont>form:first-child::before{
    content: '+';
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    left: 7px;
}
.options_cont>form input::placeholder {
    color: #c2c2c2;
}

.options_cont>form button{
    width: 100%;
    padding: 3% 3%;
    font-size: 0.7em;
    border: solid 1px #5d3770;
    border-radius: 5px;
    color: white;
    background: linear-gradient(0, #861cab -20%, #5832eb);
    cursor: pointer;
}

.options_cont>form button>span.web_span{
    display: none;
}

.options_cont>p>a{
    font-weight: bold;
    border-bottom: 1px solid var(--rosita1);
    color: var(--rosita1);
    cursor: pointer ;
}

.options_cont>button.importBtn{
    display: none;
    margin: 7% auto 3% 3%;
    padding: 1% 3%;
    font-size: 1em;
    border: solid 1px #5d3770;
    border-radius: 5px;
    color: white;
    background: linear-gradient(0, #c21c3b, #f9bd4f);
    cursor: pointer;
}

.message>textarea{
    background-color: #a361c557;
    border: 1px solid var(--rosita1);
    border-radius: 5px;
    resize: none;
    width: 100%;
    /* height: 50vh; */
    padding: 5%;
}
.message>textarea::placeholder {
    color: #c2c2c2;
}

.contextMenu{
    border-radius: 10px;
    border: 1px solid var(--rosita1);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    min-width: 135px;
}
.contextMenu li{
    padding: 12px 20px;
    border-bottom: 1px solid var(--rosita1);
    cursor: pointer;
    font-size: 0.7em;
    color: #ddd;
    display: flex;
    align-items: center;
}
.contextMenu li img{
    width: 20px;
    margin-right: 7px;
    opacity: 0.7;
}
.contextMenu li:last-child{
    border-bottom: none;
}
.contextMenu li:hover{
    color: white;
}
.contextMenu li:hover img{
    opacity: 1;
}
#card2 .card_container>div:last-child {height: 100%;}
#card2 .card_container>div:last-child>div, #card2 .card_container>div:last-child textarea{ height: 100%; }

#card2 .tabs_cont>div{
    display: flex;
    font-size: 1.1em;
    margin-bottom: 8%;
}
#card2 .tabs_cont>div>div{
    /* width: 50%; */
    width: 100%;
    text-align: center;
    border: 1px solid var(--rosita1);
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
#card2 .tabs_cont>div>div:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
#card2 .tabs_cont>div>div h6{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.difu_tab{
    /* border-top-right-radius: 0!important; */
    /* border-bottom-right-radius: 0!important; */
    border-right: none!important;
}
.conv_tab{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left: none!important;
}
#card2 .active_tab{
    border:1px solid rgb(176, 27, 27)!important;
    background-color: rgba(230, 230, 56, 0.448);
    text-shadow: 1px 1px 3px rgb(48, 48, 48);
}
#card2 .active_tab:hover{
    background-color: rgba(230, 230, 56, 0.448)!important;

}


.infoIcon{
    margin-right: 10px;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 3px 8px;
    font-size: 10px;
}
.infoTxt{
    color: #ddd;
    font-weight: 100;
    font-size: 0.8em;
}

.modal_position_card1{
    
}
.modal_position_card1>div{
    position: relative;
}

.fire_loader{
    border-color: var(--violeta1);
}
.fuegoLoader{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 0;
    left: 0;
    top: 0;
}

@keyframes sending {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}

.sending_anim_cont{
    animation-name: sending;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* PREMIUM CARDS */
.chat_window{
    position: relative;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    padding-top: 15%;
    border: 1px solid var(--violeta1);
    border-radius: 10px;
}
.chat_window::-webkit-scrollbar{
    width: 4px;
    position:absolute;
    background-color: #5d3770;
    height: 4px;
}

.chat_window::-webkit-scrollbar-track{
    background:#291051;
    transition:background .2s
}
.chat_window::-webkit-scrollbar-track:hover{}
.chat_window::-webkit-scrollbar-thumb{
    background:rgba(138, 138, 138, 0.8);
    transition:background .2s;
    border-radius: 4px;
}
.chat_window::-webkit-scrollbar-thumb:hover{
    background:hsla(0,0%,47%,.95)
}
.add_red_message, .add_blue_message{
    /* position: fixed; */
    position: absolute;
    width: 36px;
    height: 36px;
    cursor: pointer;
    top: 3%;

}
.add_red_message p, .add_blue_message p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
}

.add_red_message{

    border-radius: 50px;
    left: 5%;
}
.add_red_message>form{
    position: absolute;
    left: 140%;
    top: 0;
}
.add_blue_message{
    border-radius: 50px;
    right: 5%;
}

.add_messages form{
    position: absolute;
    right: 140%;
    top: 0;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
}
.add_blue_message>form textarea{
    background-color: var(--rosita1);
    border: 1px solid var(--violeta1);
    border-radius: 5px;
    font-size: 0.7em;
}
.add_blue_message>form button{
    width: 100%;
    font-size: 0.7em;
    background-color: var(--violeta1);
    border:1px solid #1e0d56;
    border-radius: 3px;
}
.add_red_message>form textarea{
    background-color: var(--rosita1);
    border: 1px solid var(--violeta1);
    border-radius: 5px;
    font-size: 0.7em;
}
.add_red_message>form button{
    width: 100%;
    font-size: 0.7em;
    background-color: #7316168a;
    border:1px solid #1e0d56;
    border-radius: 3px;
}
.add_blue_message>form button{
    float: right;
}
.chat_window>div>div{
    display: flex;
    flex-direction: column;
}
.SecuencePremiumCard .message{
    width: fit-content;
    max-width: 60%;
    font-size: 0.8em;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 2%;
    position: relative;
    font-weight: 300;
}
.SecuencePremiumCard .message img{
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    opacity: 0.8;
}
.SecuencePremiumCard .message img:hover{
    opacity: 1;
}
.SecuencePremiumCard .message.blue_message img{
    right: 105%;
}
.SecuencePremiumCard .message.red_message img{
    left: 105%;
}
.SecuencePremiumCard .message_cont{
    display: flex;
    flex-direction: column;
}

.SecuencePremiumCard .message_cont:hover img{
    display: block;
}
.blue_message{
    align-self: self-end;
    margin-right: 5%;
}
.blue_type{
    border: 1px solid #4100a8;
    background: rgba(37, 8, 84, 0.2);
}
.red_type{
    border: 1px solid red;
    background: rgba(130, 22, 22, 0.2);
}
.blue_message:before{
    width: 6px;
    height: 100%;
    content: '';
    top: -1%;
    border-radius: 5px;
    right: -14px;
    border: 1px solid #4100a8;
    background: rgba(37, 8, 84, 0.8);
    display: block;
    position: absolute;
}
.red_message{
    margin-left: 5%;
}
.red_message:before{
    width: 6px;
    height: 100%;
    content: '';
    top: -1%;
    border-radius: 5px;
    left: -14px;
    border: 1px solid red;
    background: rgba(130, 22, 22, 0.8);
    display: block;
    position: absolute;
}
.lock_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000ab;

}
.lock_overlay>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2em;
    cursor: pointer;
}
.lock_overlay>div:hover svg{ transform: scale(1.1); }
.lock_overlay>div:hover p{ color: var(--amarillo); }
.lock_overlay>div p{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5%;
}

.footerBtns{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.footerBtns>div{
    width: 48%;
    height: 100%;
}
.footerBtns button{
    height: 100%;
    font-size: 0.8em;
}
.footerBtns>aside{
    width: 12%;
    margin-right: 2%;
    position: relative;
    border: 1px solid;
    /* height: 100%; */
    margin-top: 3%;
    cursor: pointer;
    border-radius: 5px;
}
.footerBtns>aside>div>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 22%;
}

.footerBtns>aside>aside{
    position: absolute;
    bottom: 100%;
    left: 0%;
    width: 100%;
    padding: 20% 30%;
    transform: translateY(30%);
    opacity: 0;
}
.footerBtns>aside:hover aside{
    transform: translateY(0%);
    opacity: 1;
}
.footerBtns>aside>aside:hover{
    filter: brightness(1.5);
}
.shieldOn{
    border-color: var(--green)!important;
    background-color: #46844661;
}
.shieldOff{
    border-color: var(--red)!important;
    background-color: #c3472b57;
}
.limitedButton{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(113, 0, 0);
    padding: 2% 0;
    cursor: not-allowed;
    margin-top: 3%;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    background: transparent;
}
.limitedButton svg{
    z-index: 3;
}
.limitedButton video{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;    
}
.limitedButton span{ z-index: 3; }

.limitedButton p{
    z-index: 3;
    position: relative;
    margin: 0 10px;
}
.limitedMsj{
    margin-top: 20px;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: #dcdcdc;
    text-align: center;
}



@media (min-width: 769px) {
    

    #card1 .options_cont {
        position: static;
        width: 100%;
    }

    .options_cont>form{
        display: flex;
    }

    .options_cont>form input{
        padding: 1% 5%;
        font-size: 1em;
        width: 42%;
    }

    .options_cont>form input:nth-child(2){
        padding-left: 25px;
    }

    #card1 .options_cont>form:first-child::before{
        top: 50%;
        left: 48.5%;
    }

    .options_cont>form input{
        margin-bottom: auto;
    }

    .options_cont>form button{
        width: auto;
        font-size: 1em;
        padding: 1% 3%;
    }

    .options_cont>form button>span.web_span{
        transform: scale(2);
        display: block;
        text-shadow: 0px 1px 0px #0006;
    }

    .options_cont>form button>span.mobile_span{
        display: none;
    }

    .options_cont>button.importBtn{
        display: block;
    }

    .row_card span{
        font-size: 0.8em;
    }
    
    .row_card span.contact_example{
        font-size: 0.8em;
    }
    
    .delete_contact{
        font-size: 0.7em;
        top: 50%;
    }
}


@media (max-width: 749px) {
    .card_title{
        font-size: 14px;
    }
    .title_lines{
        width: 30%;
    }
    .row_table>div>img{
        padding: 3px;
    }
    .celda_table textarea{
        font-size: 0.7em;
    }
    .row_card span{
        font-size: 0.65em;
    }
    #card2 .tabs_cont>div{
        font-size: 0.9em;
    }
    .row_card span{
        font-size: 0.75em;
    }
    .row_table{
        /* padding: 0 2%; */
    }
    .card{
        padding: 30px 15px 65px;
    }
}