.circuloNav{
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    /* background-color: black; */
    background-image: radial-gradient(transparent 20%, black 0%);
    border-radius: 100px;
    overflow: hidden;
    
}
.circuloNav>div{
    width: 100%;
    height: 100%;
    position: relative;

    /* transform: rotate(-60deg); */
}
.circuloNav>div>img, .circuloNav>img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.paginationBtn{
    position: absolute;
    width: 12%;
    height: 12%;
    top: 50%;
    left: 50%;
    cursor: pointer;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}
.paginationBtn:hover{
    opacity: 1;
}
.paginationBtn .iconCont{
    width: 100%;
    height: 100%;
    position: relative;
}

.paginationBtn .iconCont>div img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.activeBtn{
    opacity: 1;
}
.cardBtnPos0{
    transform: translate(-40%, -320%);
}
.cardBtnPos1{
    transform: translate(187%, -172%) rotate(60deg);
}
.cardBtnPos2{
    transform: translate(195%, 95%) rotate(120deg);
}

