.input_cont{
    margin: 3% 0;
}
.input_cont input{
    width: 100%;
    background-color: var(--rosita1);
    border-radius: 10px;
    border: 1px solid var(--violeta1);
    padding: 8px 20px;
    color: white;
}
.input_cont input::placeholder{
    color: rgb(235, 235, 235);
}