.recover_password_span {
    margin-top: -2%;
    margin-bottom: 6%;
    text-align: center;
    font-size: 0.7em;
}

.Alert{
    font-weight: 100;
    color: var(--amarillo);
    font-size: 0.8em;
    text-align: center;
    margin-top: 4%;
}
.recover_password_cont form>div{
    margin-bottom: 7%;
}
.login{
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    background-color: #7561ca57;
    border: 1px solid var(--rosita2);
    color: var(--rosita2);
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 3.5%;
    font-size: 0.75em;
}
.login:hover{
    background-color: transparent;
    border-color: var(--rosita1);
    color: var(--rosita1);

}
/* if mobile */
@media screen and (max-width: 749px) {
.login{
    font-size: 0.6em;
}
}
