
.modal_pro>div>div>p{
    letter-spacing: 0.5px;
    margin: 8% 0;

}
.modal_pro ul li{
    margin: 3% 0 5% ;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.modal_pro ul img{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(14deg) brightness(165%) contrast(80%);
    width: 14px;
    margin: 0 10px 0 3px;
}
.modal_pro ul span{
    color: var(--amarillo);
}
.modal_pro h6{
    color: var(--rosita2);
    margin-bottom: 3%;
}
.modal_pro button{
    margin-top: 10%;
}