.Alert{
    font-weight: 100;
    color: var(--amarillo);
    font-size: 0.8em;
    text-align: center;
    margin-top: 4%;
}

.otp_code>.otp_code_span {
    margin-top: -2%;
    margin-bottom: 6%;
    text-align: center;
    font-size: 0.7em;
}