.cards_cont{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    z-index: 0;
}


.nextCard, .prevCard{
    position: absolute;
    width: 25px;
    height: 25px;
    background: linear-gradient(0 , #32273e, #5b2c7f);
    display: block;
    top: 50vh;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50px;
    z-index: 2;
}

.nextCard button, .prevCard button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
.nextCard button img, .prevCard button img{

}
.nextCard{
    left: 86vw;
    
}
.prevCard{
    left: 8vw;
}
.arrow_disabled button{
    cursor: inherit!important;
}
.arrow_disabled{
    opacity: 0.3;
    cursor: inherit!important;
}
.dragon1{
    display: block;
    position: absolute;
    top: 15%;
    left: 20%;
    width: 17%;
    max-width: 200px;
}
.dragon2{
    display: block;
    position: absolute;
    top: 60%;
    right: 20%;
    width: 17%;
    max-width: 200px;
    transform: rotateY(180deg);
}
.ruleta_cont{
    position: absolute;
    left: 50%;
    bottom: 0%;
}
.ruleta_cont>div{
    background: black;
    padding: 15px;
    width: 150px;
    height: 150px;
    border-radius: 250px;
    position: relative;
    transform: rotate(0deg);
}
.ruleta_cont>div>div>div:nth-child(1){
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.ruleta_cont>div>div>div:nth-child(2){
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}
.ruleta_cont>div>div>div:nth-child(3){
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


@media (min-width: 769px) {
    .nextCard, .prevCard{
        width: 48px;
        height: 48px;
        
    }
    .prevCard img{
        width: 38px;
        transform: translate(-8%, 7%) rotate(90deg);
    }
    .nextCard img{
        width: 38px;
        transform: translate(4%, 7%) rotate(270deg);
    }
    
    .nextCard{
        left: 63vw;
        
    }
    .prevCard{
        left: 33vw;
    }
}