
.modal_no_enviados>div>div>p{
    margin: 5% 0;
    font-size: 0.8em;
}
.modal_no_enviados ul li{
    margin: 3% 0 5% ;
    font-size: 0.9em;
    font-weight: 400;
}
.modal_no_enviados ul img{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(14deg) brightness(165%) contrast(80%);
    width: 14px;
    margin: 0 10px 0 3px;
}
.modal_no_enviados ul span{
    color: var(--amarillo);
}
.modal_no_enviados h5{
    color: var(--amarillo);
    margin-bottom: 3%;
    letter-spacing: 0.5px;
}
.modal_no_enviados button{
    margin-top: 10%;
}