.main_cont{
    width: attr(data-width);
    border: 1px solid var(--violeta1);
    background-color: #422a935d;
    
    border-radius: 10px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main_cont>div{
    padding: 30px;
}