.box_dialog {
    background: linear-gradient(to bottom, #FFFFCC, #dcdc41);
    padding: 10px;
    border-radius: 5px;

    /* Nueva propuesta de CSS x fran */
    background: var(--violeta2t);
    border: 1px solid var(--amarillo);
    box-shadow: 0px 0px 15px 4px #414141b0;

    animation-name: dialogGravity;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes dialogGravity {
0% {transform: translateY(-2%) }
20% {transform: translateY(-6%) }
40% {transform: translateY(-2%) }
60% {transform: translateY(-6%) }
80% {transform: translateY(-2%) }
100% {transform: translateY(-6%) }
}

.box_dialog::before,
.box_dialog::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.box_dialog::after {
  left: -8.5px;
  top: 35%;
  border-top: 0.9em solid transparent;
  border-right: 0.9em solid var(--amarillo);
  border-bottom: 0.9em solid transparent;
}

.box_dialog_content {
    padding: 2%;
    color: #000000;
    letter-spacing: 1px;

    /* Nueva propuesta de CSS x fran */
    color: var(--amarillo);

}
.box_dialog_content>button{
  margin-top: 15%;
  font-size: 1.2em;

}