.card_title{
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 8%;
    /* color: var(--rosita2); */
    background: linear-gradient(to top right, #eee, var(--rosita2) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}