.title_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
}
.card_title{
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    /* color: var(--rosita2); */
    background: linear-gradient(to top right, #eee, var(--rosita2) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    position: relative;
    padding: 0 5%;

}
/* .card_title:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0%;
    display: block;
    height: 3px;
    width: 17%;
    background-color: red;
} */
.title_lines{
    /* width: 100%; */
    height: 2px;
    display: block;
    background-color: rebeccapurple;
    width: 50%;
}

.left_line{
    background: linear-gradient(to right, #9f5bc300, var(--rosita1));
}
.right_line{
    background: linear-gradient(to left, #9f5bc300, var(--rosita1));
}