.qrCard_cont p{
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    margin: 3% 0 8%;

}
.qrCard_cont img{
    display: block;
    margin: auto;
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 3px #00000069;
}
.qrCard_cont>div>h4{
    font-size: 0.9em;
    margin: 10% auto 7%;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    color: #afaac3;
}

.loading_cont p{
    color: rgb(205, 205, 205);
    animation-name: titilar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes titilar {
    0%{ opacity: 1; }
    50%{ opacity: 0.2; }
    100%{ opacity: 1; }
}

