.maintCont{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    top: 0%;
    left: 0;
    z-index: 100;
}
.maintCont>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
    border: 1px solid var(--amarillo);
    box-shadow: 0px 0px 10px 3px hsl(260deg 11% 95% / 27%);
    border-radius: 10px;
    padding: 14px;
}
.maintCont>div>img{
    width: 30%;
    height: auto;
}
.maintCont>div>div{
    width: 69%;
    
    font-size: 0.7em;
    letter-spacing: 0.4px;
    text-align: center;
}
.maintCont>div:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--amarillo);
    left: 29%;
    transform: rotate(45deg);
    z-index: -1;
    bottom: 34%;
}