.input_label {
    font-size: 0.7em;
    background: linear-gradient(to top right, #eee, var(--rosita2) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    margin: 10% auto auto;
}

.alert {
  font-weight: 100;
  color: var(--amarillo);
  font-size: 0.8em;
  text-align: center;
}
