.title_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.card_title {
  margin: auto;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  /* color: var(--rosita2); */
  background: linear-gradient(to top right, #eee, var(--rosita2) 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  position: relative;
  padding: 0 5%;
  width: fill-available;
  white-space: pre;
}

.title_lines {
  /* width: 100%; */
  height: 2px;
  display: block;
  background-color: rebeccapurple;
  width: 50%;
  opacity: 0.7;
}

.left_line {
  background: linear-gradient(to right, #9f5bc300, var(--newViolet));
}
.right_line {
  background: linear-gradient(to left, #9f5bc300, var(--newViolet));
}

@media (max-width: 749px) {
  .card_title {
    font-size: 14px;
  }
  .title_lines {
    width: 30%;
  }
}
