.modal_finish p{
    font-size: 0.8em;
    text-align: center;
    margin: 3.5% 0;
    letter-spacing: 0.8px;
}
.modal_finish h3{
    color: var(--rosita2);
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 1.1em;
    margin: 18% 0;
}